<h2>Choose a Genre</h2>

<ul>
  <li><button class="genre-button" data-name="alternative">Alternative</button></li>
  <li><button class="genre-button" data-name="ambient">Ambient</button></li>
  <li><button class="genre-button" data-name="classical">Classical</button></li>
  <li><button class="genre-button" data-name="country">Country</button></li>
  <li><button class="genre-button" data-name="dance">Dance/EDM</button></li>
  <li><button class="genre-button" data-name="dubstep">Dubstep</button></li>
  <li><button class="genre-button" data-name="electronic">Electronic</button></li>
  <li><button class="genre-button" data-name="folk">Folk</button></li>
  <li><button class="genre-button" data-name="rap">Hip Hop/Rap</button></li>
  <li><button class="genre-button" data-name="indie">Indie</button></li>
  <li><button class="genre-button" data-name="metal">Metal</button></li>
  <li><button class="genre-button" data-name="pop">Pop</button></li>
  <li><button class="genre-button" data-name="soul">R&amp;B/Soul</button></li>
  <li><button class="genre-button" data-name="audiobooks">Audiobooks</button></li>
</ul>





{{!-- el
this.el
view.el

<aside></aside>


$el
this.$el
view.$el


$(el)
$(<aside></aside>)



view;


view.render().el --}}

{{!-- secret code --}}